In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [17]:
df = pd.read_csv("./data/kc_house_data.csv")
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [18]:
# df.reset_index(drop=True, inplace=True)
# df.rename(columns={'index': 'id'}, inplace=True)
# df

In [19]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              21613 non-null  int64
 1   price           21613 non-null  float64
 2   bedrooms        21613 non-null  int64
 3   bathrooms       21613 non-null  float64
 4   sqft_living     21613 non-null  int64
 5   sqft_lot        21613 non-null  int64
 6   floors          21613 non-null  float64
 7   waterfront      21613 non-null  int64
 8   view            21613 non-null  int64
 9   condition       21613 non-null  int64
 10  grade           21613 non-null  int64
 11  sqft_above      21613 non-null  int64
 12  sqft_basement   21613 non-null  int64
 13  yr_built        21613 non-null  int64
 14  yr_renovated    21613 non-null  int64
 15  zipcode         21613 non-null  int64
 16  lat             21613 non-null  float64
 17  long            21613 non-null  float64
 18  sqft_living15   21613 non-null  int64
 19  sqft_lot15      21613 non-null  int64
 20  saleYear        21613 non-null  int32
 21  saleMonth       21613 non-null  int32
 22  saleDay         21613 non-null  int32
 23  saleDayOfWeek   21613 non-null  int32
 24  saleDayOfYear   21613 non-null  int32
 25  isMonthEnd      21613 non-null  bool
 26  isMonthStart    21613 non-null  bool
 27  isQuarterEnd    21613 non-null  bool
 28  isQuarterStart  21613 non-null  bool
 29  isYearEnd       21613 non-null  bool
 30  isYearStart     21613 non-null  bool
dtypes: bool(6), float64(5), int32(5), int64(15)
memory usage: 3.8 MB

In [20]:
non_numerical_columns = df.select_dtypes(exclude=[np.number]).columns

print(non_numerical_columns)

Index(['date'], dtype='object')

Since we have a date column, it becomes a time series problem.

We will do feature engineering and add a lot of column from the "date" column.

In [21]:
import pandas as pd

def add_date_features(df, date_column):
    df[date_column] = pd.to_datetime(df[date_column])
    df["saleYear"] = df[date_column].dt.year
    df["saleMonth"] = df[date_column].dt.month
    df["saleDay"] = df[date_column].dt.day
    df["saleDayOfWeek"] = df[date_column].dt.dayofweek
    df["saleDayOfYear"] = df[date_column].dt.dayofyear
    df["isMonthEnd"] = df[date_column].dt.is_month_end
    df["isMonthStart"] = df[date_column].dt.is_month_start
    df["isQuarterEnd"] = df[date_column].dt.is_quarter_end
    df["isQuarterStart"] = df[date_column].dt.is_quarter_start
    df["isYearEnd"] = df[date_column].dt.is_year_end
    df["isYearStart"] = df[date_column].dt.is_year_start
    
    df.drop(columns=[date_column], inplace=True)
    
    return df

In [22]:
add_date_features(df, "date")
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,saleMonth,saleDay,saleDayOfWeek,saleDayOfYear,isMonthEnd,isMonthStart,isQuarterEnd,isQuarterStart,isYearEnd,isYearStart
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,10,13,0,286,False,False,False,False,False,False
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,12,9,1,343,False,False,False,False,False,False
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,...,2,25,2,56,False,False,False,False,False,False
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,12,9,1,343,False,False,False,False,False,False
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,2,18,2,49,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,...,5,21,2,141,False,False,False,False,False,False
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,...,2,23,0,54,False,False,False,False,False,False
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,...,6,23,0,174,False,False,False,False,False,False
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,...,1,16,4,16,False,False,False,False,False,False
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,...,10,15,2,288,False,False,False,False,False,False

# Exploratory Data Analysis